* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  
  html {
    background-color: #f8f8ff;
    font-family: 'Cherry Bomb One', cursive;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
  }

.troco {
    margin-bottom: 20px;
  }
  
  .observação {
  margin-bottom: 20px;
  }
  
  textarea {
    align-items: center;
    text-align: center;
    margin-top: 10px;
    border: solid black 2px;
  }
  
  .colher {
    display: flex;
        flex-direction: column;
       
        margin: 0 12px 0 0;
        vertical-align: middle;
        position: relative;
        top: -1px;
  }
  
  .pagamento {
    display: flex;
    flex-direction: column;
  
    margin: 0 12px 0 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }
  
  .entrega {
    margin-bottom: 50px;
  }
  
  .local {
    align-items: center;
    text-align: center;
    margin-top: 10px;
    border: solid black 2px;
  }
  
  button {
    color:green;
    background-color: #f8f8ff;
    font-size: 15px;
    margin-top: 20px;
    border: solid black 2px;
    font-family: 'Cherry Bomb One', cursive;
    padding: 2px;
    border-radius: 2px;
  }